<div class="container">
  <div class="col-md-3"></div>
    <div class="well">
      <div class="jumbotron">
        <h1>This confirms your purchase. Your Order Number is: <%= @order.id %></h1>
        <p><img src="<%#= @order.products.images.first.url %>" width: "100%"/></p>
        <h2>Your order occured on <%= @order.created_at.strftime("%A, %B %e %Y") %>. 
        Please check your email at <%= @order.user.email %></h2>
      </div>
        <h2>Your subtotal is: <%= number_to_currency @order.subtotal %>.</h2>
        <h2>Tax is: <%= number_to_currency @order.tax %>.</h2>
        <h2>Your total payment is: <%= number_to_currency @order.total %>.</h2>
    </div>
  </div>
</div>