     <div class="col-md-3"></div>
    <div class="well">
   <h2><%= @product.name %></h2>
  <p class="<%= @product.sales_method_class_name %>"><%= @product.sales_method %></p>
  <p>Price: <%= number_to_currency(@product.price) %></p>
  <p>Tax: <%= number_to_currency(@product.tax) %></p>
  <p>Total: <%= number_to_currency(@product.total) %></p>
  <p> <img src="<%= @product.image%>" width: "100%"/></p>
  <p><%= @product.description %></p>
<a href="/products/<%= @product.id %>/edit">Edit this Smoothie</a>
<%= form_tag "/products/#{@product.id}", method: "delete" do %>
<input type="submit" value="Delete Smoothie">
<% end %>
</div>
<a href="/products">Back to All Products</a>